.content__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center; }

.content__profile {
  border-bottom: 1px #6e7a86 solid;
  padding-bottom: 1rem;
  text-align: right; }

.content__title {
  font-size: 5rem;
  font-weight: 700;
  margin: 0 0 15px 0; }

.content__about {
  text-align: right; }
  .content__about a:hover {
    text-decoration: underline; }

.projects__title {
  font-size: 5rem;
  margin: 0;
  text-align: center; }

.projects__container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 600px; }

.projects__item {
  border: 1px #fff solid;
  margin: 0 auto;
  text-align: center;
  width: 300px; }

.projects-item__content {
  margin: 10px; }

.projects-item__title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 10px 0; }

html {
  background-color: #111;
  font-size: 16px; }

html,
body {
  color: #f6f6f6;
  font-family: 'Roboto Slab', sans-serif;
  height: 100%;
  margin: 0; }

a {
  color: #f56969;
  text-decoration: none; }
  a:hover {
    cursor: pointer; }

.bold {
  color: #f56969;
  font-weight: bold; }
